stages:
  - test
  - build
  - deploy

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  BACKEND_IMAGE: $CI_REGISTRY_IMAGE/milkytea-backend
  FRONTEND_IMAGE: $CI_REGISTRY_IMAGE/milkytea-frontend

# 后端单元测试
test_backend:
  image: maven:3.9.6-eclipse-temurin-21
  stage: test
  script:
    - cd easy-to-develop-back
    - mvn test
  artifacts:
    reports:
      junit: easy-to-develop-back/target/surefire-reports/*.xml

# 构建并推送镜像
build_images:
  image: docker:latest
  stage: build
  services:
    - name: docker:dind
      entrypoint: ["sh", "-c"]
      command:
        - |
          printf "nameserver 223.5.5.5\nnameserver 223.6.6.6\nnameserver 114.114.114.114\n" > /etc/resolv.conf
          exec dockerd-entrypoint.sh \
            --registry-mirror=https://docker.1ms.run \
            --registry-mirror=https://docker.mirrors.sjtug.sjtu.edu.cn \
            --registry-mirror=https://mirror.baidubce.com \
            --registry-mirror=https://mirror.aliyuncs.com
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
  script:
    - cd easy-to-develop-back
    - docker build -t $BACKEND_IMAGE:$CI_COMMIT_SHA -t $BACKEND_IMAGE:latest .
    - docker push $BACKEND_IMAGE:$CI_COMMIT_SHA
    - docker push $BACKEND_IMAGE:latest
    
    - cd ../easy-to-develop-admin
    - docker build -t $FRONTEND_IMAGE:$CI_COMMIT_SHA -t $FRONTEND_IMAGE:latest .
    - docker push $FRONTEND_IMAGE:$CI_COMMIT_SHA
    - docker push $FRONTEND_IMAGE:latest

# 部署到我的wsl服务器
deploy:
  stage: deploy
  tags:
    - wsl-shell
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
    - export BACKEND_IMAGE="$BACKEND_IMAGE:$CI_COMMIT_SHA"
    - export FRONTEND_IMAGE="$FRONTEND_IMAGE:$CI_COMMIT_SHA"
    - docker-compose -f docker-compose.ci.yml pull
    - docker-compose -f docker-compose.ci.yml up -d
  only:
    - main
